<p class="pageheading"><%=t("headings.edit.heading", :model=>t($ARM + "trans_dot", :count=>1) )%></p>
<%= render 'form' %>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'trans_dot', :count=>1)), new_trans_dot_path %> |
<%= link_to t("actions.back"), trans_dots_path %>